@import 'tailwindcss';

.swiper-pagination-bullet {
  @apply bg-gray-300 w-3 h-3 opacity-100 transition-all;
}
.swiper-pagination-bullet-active {
  @apply bg-blue-500;
}
.swiper-pagination-custom .swiper-pagination-bullet {
  @apply bg-gray-300 w-3 h-3 opacity-100 transition-all;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  @apply bg-blue-500;
}