@import 'tailwindcss';

.swiper-pagination-bullet {
  @apply bg-gray-300 w-3 h-3 opacity-100 transition-all;
}
.swiper-pagination-bullet-active {
  @apply bg-blue-500;
}
.swiper-pagination-custom .swiper-pagination-bullet {
  @apply bg-gray-300 w-3 h-3 opacity-100 transition-all;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  @apply bg-blue-500;
}

@theme{
  --main-color: #FF6600;
  --main-color2: #72594B;
  --fill-color1: #F3F3F3;
  --fill-color2: #E1E1E1;
  --fill-color3: #D0D0D0;
  --fill-color4: #A8A8A8;
  --fill-color5: #898989;
  --fill-color6: #5B5B5B;
  --fill-color7: #323232;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}